.header {
  width: 100%;
  background-color: #fff;
  height: 80px;
}

.container {
  width: 1090px;
  margin: 0 auto;
}

.header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 20px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;

  display: flex;

  img {
    margin-right: 11px;
  }
}

.header__user_avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;

  margin-right: 10px;
}

.header__user {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}


.content {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  height: 100%;
}

.navigation {
  min-width: 200px;
  min-height: 100%;
  margin-right: 15px;

  ul {
    li {
      display: flex;
      align-items: center;

      a {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        color: black;
      }

      img {
        margin-right: 10px;
      }
    }
  }

}

.main {
  width: 100%;
  height: 100%;
}

.chat-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  div {
    background-color: white;
  }
}

.chat-header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex: 0 0 auto;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  > span {
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
  }

  margin-bottom: 1px;

}

.chat-backButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #8A94A0;


  img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 15px;
    height: 7.5px;
  }
}


.chat-text {
  width: 100%;
  background-color: white;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  justify-content: end;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 20px;
}


.chat-input {
  height: 68px;
  background-color: #FAFBFC !important;
  display: flex;
  position: relative;

  padding: 18px 59px;

  form {

    width: 100%;

    input {
      width: 100%;
      height: 32px;
    }

    img {
      position: absolute;
      right: 14px;
      bottom: 18px;
    }
  }
}

.message-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.message-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 17px;
  color: #3D6083;

}

.message-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #8A94A0;
}

.button_find {
  padding: 0 10px;
  height: 32px;
  background: #E5EBF1;
  border-radius: 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #8A94A0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input_find_user{
  padding: 11px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #8A94A0;
}

.arrow-header{
  transform: rotate(90deg);
}

.logout{
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #8A94A0;
}